body {
    background-color: white;
}
h1 {
    margin: 2em;
    padding: 50px;
    text-align: center;
    font: 200% cursive;
    color: yellow;
    background-color: blue;
    border-radius: 100px;
}

a {
    color: green;
}